[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
[submodule "spf13-vim"]
  path = spf-13-vim
  url = https://github.com/spf13/spf13-vim
[submodule "zgen"]
	path = zgen
  branch = master
	url = https://github.com/tarjoilija/zgen.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "sublime/User/SetiUI-Icons-Sublime"]
	path = sublime/User/SetiUI-Icons-Sublime
	url = https://github.com/mrmartineau/SetiUI-Icons-Sublime.git
[submodule "Omnifocus/perspective-icons"]
	path = Omnifocus/perspective-icons
	url = https://github.com/deaghean/omnifocus-perspective-icons.git
